:root {
    --main-color: rgb(255, 255, 255);
    --second-color: rgb(128, 128, 128);
    --third-color: rgb(192, 192, 192);
    --adaptive-text-color : rgb(0, 0, 0);
}
* {
    font-family: 'Oswald', sans-serif;
    margin:0px;
    padding:0px;
    accent-color:var(--third-color)
}

body {
    background-color: #eeeeee;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    min-height:100vh;
    }

p {
    margin:0px;
    padding:0px;
}
button{
    height:30px;
    border-radius:15px;
    border-width:0px;
    width:100px;
    background-color: var(--main-color);
    box-shadow: rgb(0, 0, 0, 0.4) 0px 2px 5px;
    transition:0.1s;
    color:var(--adaptive-text-color);
    flex-shrink:0;
}

button:hover {
    transition:0.2s;
    background-color:var(--third-color);
    transform:translate(0px, -2px);
    box-shadow: rgb(0, 0, 0, 0.8) 0px 3px;
}

.buttonActive {
    background-color:var(--second-color);
    color:white;
}

.buttonActive:hover {
    background-color: var(--second-color);
    }

.main {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    margin: 0px 40px;

}


.grid {
    box-sizing:border-box;
    width : 80vw;
    max-width : 600px;
    height: 80vw;
    max-height: 600px;
    display:grid;
    margin:40px;
    gap: 1px;
    background-color: rgb(128, 128, 128);
    border-width:1px;
    border-color:rgb(128, 128, 128);
    border-style:solid;
    flex-shrink:0;
    box-shadow: rgb(0, 0, 0, 0.4) 0px 4px 8px
}


.mainMenu {
    width: 170px;
    height:80vw;
    max-height:600px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    gap:20px;
    flex-shrink:0;
}
    .subMenu{
        box-sizing:border-box;
        min-width:170px;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:20px;
        background-color:#ffffff;
        border-radius:20px;
        box-shadow: rgb(0, 0, 0, 0.4) 4px 4px 8px;
        gap:20px;
    }
        .colorPickers {
            width:120px;
            height:120px;
            display:grid;
            grid-template-rows: 30px 60px 30px;
            grid-template-columns: 30px 60px 30px;

        }
            .drawColorContainer {
                grid-area: 1 / 1 / 2 / 2;
                z-index: 2;
                flex-shrink: 0;
            }
            .backgroundColorContainer {
                grid-area: 2 / 2 / 3 / 3;
                z-index:1;
                flex-shrink:0;
            }
            .colorCircleContainer {
                width:90px;
                height:90px;
                border-radius:45px;
                overflow:hidden;
                display:flex;
                justify-content:center;
                align-items:center;
                box-shadow: rgb(0, 0, 0, 0.4) 4px 4px 8px;
            }

            .colorCircleContainer:hover {
                scale:1.05;
                transition:0.3s;
            }

            .colorCircle {
                min-width: 100px;
                min-height:100px;
                opacity:0;
                flex-shrink:0;
            }
        .drawingModes {
            width: 130px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:10px;
        }
    .shaderMenu {
        flex-grow: 1;
    }
        .shaderColors {
            width: 90px;
            height: 90px;
            background-color: var(--third-color);
            display: flex;
            border-radius:45px;
            justify-content: center;
            align-items: center;
            transform: rotate(45deg);
            box-shadow: rgb(0, 0, 0, 0.4) 4px 4px 8px;
        }
            .colorHalfCircle {
                width:45px;
                height:90px;
                margin:0px;
                padding:0px;
            }
            .shaderBaseColor {
                background-color: var(--third-color);
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
            }
            .shaderChangedColor{
                background-color: var(--third-color);
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                
            }
        .colorChangeSlider {
            width:100px;
        }
        .slider {
            width:100px;
            color:red;
        }
    .gridMenu {
        flex-direction:row;
    }

.sliderContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 5px;
    }



