* {
    font-family: 'Oswald', sans-serif;
    margin:0px;
    padding:0px;
}

.main {
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.grid {
    width : 80vw;
    max-width : 500px;
    height: 80vw;
    max-height: 500px;
    display:grid;
    gap: 1px;
    background-color:grey;
    border-width:2px;
    border-color:black;
    border-style:solid;
}


